<launch>
    <!-- Omitted for now: launch manually and wait for calibration to finish -->
    <!--<include file="$(find arbie_hardware)/launch/hardware.launch"/>-->
    <include file="$(find arbie_description)/launch/control.launch"/>
    <include file="$(find arbie_webgui)/launch/webgui.launch"/>

    <!-- Start a window for viewing the robot model, and a window for setting
    the arm joint commands -->
    <!--<node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find arbie_test)/config/view_model.rviz"
    />-->
    <node
        name="rqt_gui"
        pkg="rqt_gui"
        type="rqt_gui"
        args="--perspective-file $(find arbie_test)/config/test_arm_control.perspective"
    />
</launch>
