<launch>
    <param
        name="robot_description"
        command="xacro $(find arbie_description)/model/arbie_sim_arm.urdf.xacro"
    />

    <rosparam
        file="$(find arbie_test)/config/gazebo_control_gains.yaml"
        command="load"
    />
    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description -urdf -x 0 -y 0 -z 0 -model arbie -b -gazebo_namespace gzserver"
    />

    <include file="$(find arbie_bringup)/launch/control.launch">
        <arg name="base" value="false"/>
    </include>

    <node
        name="rqt_gui"
        pkg="rqt_gui"
        type="rqt_gui"
        args="--perspective-file $(find arbie_test)/config/test_arm_control.perspective"
    />

    <include file="$(find arbie_bringup)/launch/teleop.launch"/>
</launch>
