<launch>
    <!-- Load robot description and spawn gazebo model from this -->
    <param
        name="robot_description"
        command="xacro $(find arbie_description)/model/arbie_sim_base.urdf.xacro"
    />
    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description -urdf -x 0 -y 0 -z 0 -model arbie -b -gazebo_namespace gzserver"
    />

    <!-- Start controllers -->
    <include file="$(find arbie_description)/launch/control.launch">
        <arg name="arm" value="false"/>
        <arg name="flippers" value="false"/>
    </include>

    <!-- Command base velocity -->
    <node
        name="teleop_twist_keyboard"
        pkg="teleop_twist_keyboard"
        type="teleop_twist_keyboard.py"
        args="cmd_vel:='/base_controller/cmd_vel' _speed:='0.3' _turn:='3'">
    </node>
    <!-- View the robot model and depth camera input -->
    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find arbie_test)/config/base.rviz"
    />
</launch>
