<launch>
    <!-- Load the robot description and spawn the gazebo model -->
    <param
        name="robot_description"
        command="xacro $(find arbie_description)/model/arbie_sim_arm.urdf.xacro"
    />
    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description -urdf -x 0 -y 0 -z 0 -model arbie -b -gazebo_namespace gzserver"
    />

    <!-- Start controllers -->
    <include file="$(find arbie_description)/launch/control.launch">
        <arg name="base" value="false"/>
    </include>

    <!-- Start a window for viewing the robot model, and a window for setting
    the arm joint commands -->
    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find arbie_test)/config/view_model.rviz"
    />
    <node
        name="rqt_gui"
        pkg="rqt_gui"
        type="rqt_gui"
        args="--perspective-file $(find arbie_test)/config/test_arm_control.perspective"
    />
</launch>
