<launch>
    <!-- This launch file tests the realsense cameras on their own,
    without anything else -->

    <!-- Load the robot description and start robot_state_publisher -->
    <param
        name="robot_description"
        command="xacro $(find arbie_description)/model/arbie_sim_base.urdf.xacro"
    />
    <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher"/>

    <!-- Start the realsense cameras -->
    <include file="$(find arbie_slam)/launch/cameras.launch"/>

    <!-- View the robot model and depth camera input -->
    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find arbie_test)/config/base.rviz"
    />
    <!-- Command the camera tilt angle manually -->
    <!-- On the actual robot, this will be read from the hardware -->
    <node
        name="joint_state_publisher_gui"
        pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui"
    />
</launch>
