<launch>
    <node
        name="image_view_T265_right"
        pkg="image_view"
        type="image_view"
        args="image:=/T265/right/image_raw"
    />
    <node
        name="image_view_T265_left"
        pkg="image_view"
        type="image_view"
        args="image:=/T265/left/image_raw"
    />
    <node
        name="image_view_D435i_color"
        pkg="image_view"
        type="image_view"
        args="image:=/D435i/color/image_raw"
    />
    <node
        name="image_view_D435i_depth"
        pkg="image_view"
        type="image_view"
        args="image:=/D435i/depth/image_raw"
    />
</launch>
