<launch>
    <param
        name="robot_description"
        command="cat $(find exp_description)/model/simple.urdf"
    />

    <!-- Assumes that gzserver is running -->
    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description -urdf -x 0 -y 0 -z 0.1 -model simple -b -gazebo_namespace gzserver"
    />

    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        respawn="false"
        output="screen">
    </node>

</launch>
