<launch>
    <node
        name="move_base"
        pkg="move_base"
        type="move_base">
        <rosparam
            file="$(find arbie_navigation)/config/costmap_common_params.yaml"
            command="load"
            ns="global_costmap"
        />
        <rosparam
            file="$(find arbie_navigation)/config/costmap_common_params.yaml"
            command="load"
            ns="local_costmap"
        />
        <rosparam
            file="$(find arbie_navigation)/config/costmap_local_params.yaml"
            command="load"
            ns="local_costmap"
        />
        <rosparam
            file="$(find arbie_navigation)/config/costmap_global_params.yaml"
            command="load"
            ns="global_costmap"
        />
        <rosparam
            file="$(find arbie_navigation)/config/base_local_planner_params.yaml"
            command="load"
        />
    </node>
</launch>
