<?xml version='1.0'?>
<to_include xmlns:xacro="https://www.ros.org/wiki/xacro">

<!-- BASE LINK -->
<!-- At centre of robot on floor -->

<link name="base_link">
</link>

<joint name="base_joint" type="fixed">
  <origin rpy="1.5708 0 1.5708" xyz="0.01 0 0.075"/>
  <parent link="base_link"/>
  <child link="body_link"/>
</joint>


<!-- BODY LINK -->

<link name="body_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.0007103904794560104 0.04685539726506198 -0.03652499028281223"/>
    <mass value="132.38352048208554"/>
    <inertia ixx="3.87908" ixy="-0.00108" ixz="-0.002599" iyy="4.409886" iyz="0.163573" izz="0.920138"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://arbie_description/meshes/body.stl"/>
    </geometry>
    <material name="body"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://arbie_description/meshes/body.stl"/>
    </geometry>
  </collision>
</link>


<!-- TRACK MESHES -->
<!-- Bounding mesh for tracks, for collision detection -->

<link name="tracks_right_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.02499954358879042 0.002120489076708521 -0.0007430080149572974"/>
    <mass value="44.76242127990538"/>
    <inertia ixx="1.472289" ixy="-0.0" ixz="-0.0" iyy="1.350001" iyz="0.000109" izz="0.140939"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.124694 -0.019326 0.010978"/>
    <geometry>
      <mesh filename="package://arbie_description/meshes/tracks_right.stl"/>
    </geometry>
    <material name="tracks"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.124694 -0.019326 0.010978"/>
    <geometry>
      <mesh filename="package://arbie_description/meshes/tracks_right.stl"/>
    </geometry>
  </collision>
</link>

<link name="tracks_left_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.02500045641121243 0.00212048907670849 -0.000743015955378042"/>
    <mass value="44.76242127990538"/>
    <inertia ixx="1.472289" ixy="-0.0" ixz="-0.0" iyy="1.350001" iyz="0.000109" izz="0.140939"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.123306 -0.019326 0.010978"/>
    <geometry>
      <mesh filename="package://arbie_description/meshes/tracks_left.stl"/>
    </geometry>
    <material name="tracks"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.123306 -0.019326 0.010978"/>
    <geometry>
      <mesh filename="package://arbie_description/meshes/tracks_left.stl"/>
    </geometry>
  </collision>
</link>


<!-- RIGID JOINTS -->

<joint name="rigid_body_to_tracks_right_joint" type="fixed">
  <origin rpy="0 0 0" xyz="-0.124694 0.019326 -0.010978"/>
  <parent link="body_link"/>
  <child link="tracks_right_link"/>
</joint>

<joint name="rigid_body_to_tracks_left_joint" type="fixed">
  <origin rpy="0 0 0" xyz="0.123306 0.019326 -0.010978"/>
  <parent link="body_link"/>
  <child link="tracks_left_link"/>
</joint>

</to_include>
