<?xml version='1.0'?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='arbie'>

<xacro:include filename='arbie_base_sim.urdf.xacro'/>

<!-- Flippers -->
<xacro:include filename='components/flippers.urdf.xacro'/>
<xacro:flippers pos_interface='EffortJointInterface' vel_interface='EffortJointInterface'/>

<!-- Arm, wrist, gripper -->
<xacro:include filename='components/arm.urdf.xacro'/>
<xacro:arm pos_interface='EffortJointInterface' vel_interface='EffortJointInterface'/>

</robot>
