<?xml version='1.0'?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='arbie'>

<!-- Materials for visualisation -->
<xacro:include filename='materials.urdf'/>

<!-- Base link + cameras -->
<xacro:include filename='components/base.urdf.xacro'/>
<xacro:base pos_interface='PositionJointInterface' vel_interface='VelocityJointInterface'/>

<!-- Flippers -->
<xacro:include filename='components/flippers.urdf.xacro'/>
<xacro:flippers pos_interface='PositionJointInterface' vel_interface='VelocityJointInterface'/>

<!-- Bounding meshes for tracks, equiavalent wheels for control commands -->
<xacro:include filename='components/tracks_real.urdf'/>

<!-- Arm, wrist, gripper -->
<xacro:include filename='components/arm.urdf.xacro'/>
<xacro:arm pos_interface='PositionJointInterface' vel_interface='VelocityJointInterface'/>

<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>

</robot>
