<?xml version='1.0'?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='arbie'>

<xacro:include filename='materials.urdf'/>
<xacro:include filename='components/base.urdf'/>
<xacro:include filename='components/cameras.urdf'/>
<xacro:include filename='components/flippers.urdf'/>
<xacro:include filename='components/tracks_real.urdf'/>
<xacro:include filename='components/arm.urdf'/>

</robot>
