<?xml version='1.0'?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='arbie'>

<xacro:include filename='materials.urdf'/>
<xacro:include filename='components/base.urdf'/>
<xacro:include filename='components/flippers.urdf'/>
<xacro:include filename='components/arm.urdf'/>

<gazebo>
    <self_collide>true</self_collide>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    <joint name="fixed_base_joint" type="rigid">
        <parent>world</parent>
        <child>base_link</child>
    </joint>
</gazebo>

</robot>
