<?xml version='1.0'?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='arbie'>

<xacro:include filename='materials.urdf'/>
<xacro:include filename='components/base.urdf'/>
<xacro:include filename='components/cameras.urdf'/>
<xacro:include filename='components/tracks_sim.urdf'/>

<gazebo>
<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
</gazebo>

</robot>
