<?xml version="1.0" ?>
<to_include xmlns:xacro="https://www.ros.org/wiki/xacro">

<material name="body">
    <color rgba="0 0 1 1"/>
</material>
<material name="flipper">
    <color rgba="0 0.8 1 1"/>
</material>
<material name="track">
    <color rgba="0 0 0 1"/>
</material>
<material name="arm">
    <color rgba="0 1 0 1"/>
</material>
<material name="wrist">
    <color rgba="1 1 0 1"/>
</material>
<material name="gripper">
    <color rgba="1 1 1 1"/>
</material>
<material name="camera">
    <color rgba="1 0.4 0 1"/>
</material>

</to_include>
