<?xml version='1.0'?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='arbie'>

<!-- Materials for visualisation -->
<xacro:include filename='materials.urdf'/>

<!-- Base link, flippers, cameras -->
<xacro:include filename='components/base.urdf.xacro'/>
<xacro:base pos_interface='EffortJointInterface' vel_interface='EffortJointInterface'/>

<!-- Differential drive wheels and caster. Approximates track kinematics -->
<xacro:include filename='components/tracks_sim.urdf'/>

</robot>
