<library path="src">
  <class name="GUI" type="gui.GUI.GUI"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI plugin to ...
    </description>
    <qtgui>
      <!-- <group>
        <label>New Group</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to...</statustip>
      </group> -->
      <label>RMRC GUI</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>RMRC GUI</statustip>
    </qtgui>
  </class>
</library>
