<launch>
<group ns="arbie">

    <!-- ===== COMMON BETWEEN REAL AND SIMULATION ===== -->
    <include file="$(find arbie_main)/launch/common.launch"/>

    <!-- ===== SIMULATION ONLY ===== -->
    <!-- TODO: still using urdf
    <param
        name="robot_description_semantic"
        command="cat $(find arbie_description)/model/rescue.sdf"
    /> -->

    <!-- Assumes gazebo is started -->

    <!-- Spawn the model -->
    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description -urdf -x 0 -y 0 -z 0 -model arbie"
    />

</group>
</launch>
