<launch>
<group ns="arbie">

    <!-- Launch gazebo with a given world.
    Do this separately from the rest of the robot code, to avoid having to
    keep opening and closing gazebo -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg
            name="world_name"
            value="$(find arbie_gazebo)/worlds/rescue.world"
        />
    </include>

</group>
</launch>
