<launch>
    <arg name="usb_port"                default="/dev/ttyUSB0"/>
    <arg name="arm_baud_rate"           default="57600"/>
    <arg name="wrist_baud_rate"           default="1000000"/>

    <group ns="hardware">

    <node name="odrives" pkg="arbie_hardware" type="odrives"/>

    <param name="arm_dynamixel_info"
        value="$(find arbie_hardware)/config/dynamixel_arm.yaml" />
    <node
        name="arm"
        pkg="dynamixel_workbench_controllers"
        type="dynamixel_workbench_controllers"
        required="true" output="screen"
        args="$(arg usb_port) $(arg arm_baud_rate)">

        <param name="use_moveit" value="false"/>
        <param name="use_joint_states_topic" value="true"/>
        <param name="use_cmd_vel_topic" value="false"/>
        <rosparam>
            publish_period: 0.010
            dxl_read_period: 0.010
            dxl_write_period: 0.010
        </rosparam>
    </node>

    <param name="wrist_dynamixel_info"
        value="$(find arbie_hardware)/config/dynamixel_wrist.yaml" />
    <node
        name="wrist"
        pkg="dynamixel_workbench_controllers"
        type="dynamixel_workbench_controllers"
        required="true" output="screen"
        args="$(arg usb_port) $(arg wrist_baud_rate)">

        <param name="use_moveit" value="false"/>
        <param name="use_joint_states_topic" value="true"/>
        <param name="use_cmd_vel_topic" value="false"/>
        <rosparam>
            publish_period: 0.010
            dxl_read_period: 0.010
            dxl_write_period: 0.010
        </rosparam>
    </node>


    </group>

    <node
        name="hardware_interface"
        pkg="arbie_hardware"
        type="interface"
    />
</launch>
