<launch>
    <node
        name="control_demo"
        pkg="control_demo"
        type="control_demo"
        output="screen"
    />
    <node
        name="joy_node"
        pkg="joy"
        type="joy_node"
    >
        <param name="~deadzone" type="double" value="0.15"/>
    </node>
    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find control_demo)/rviz/rescue.rviz"
        ns="rescue"
    />
</launch>
