<launch>
    <arg name="fake" default="false"/>

    <!-- Load urdf, start hardware interface -->
    <include file="$(find arbie_hardware)/launch/hardware.launch">
        <param name="fake" value="$(arg fake)"/>
    </include>

    <!-- Start main pcb -->
    <!--<include file="$(find arbie_hardware)/launch/pcb.launch"/>-->

    <!-- Webui and teleop for interpreting joystick input -->
    <include file="$(find arbie_webgui)/launch/webgui.launch"/>
    <include file="$(find arbie_teleop)/launch/teleop.launch"/>

    <!-- Start arm control -->
    <include file="$(find arbie_manipulation)/launch/manipulation.launch"/>

    <!-- Start realsense cameras and slam -->
    <include file="$(find arbie_slam)/launch/cameras.launch"/>
    <include file="$(find arbie_slam)/launch/slam.launch"/>
</launch>
