<launch>
    <include file="$(find arbie_gazebo)/launch/sim_hardware_base.launch"/>

    <!-- Webui and teleop for interpreting joystick input -->
    <include file="$(find arbie_webgui)/launch/webgui.launch"/>
    <include file="$(find arbie_teleop)/launch/teleop.launch"/>

    <!-- Start slam -->
    <include file="$(find arbie_slam)/launch/slam.launch"/>
</launch>
