<launch>
    <include file="$(find arbie_gazebo)/launch/sim_hardware_arm.launch"/>

    <!-- Webui and teleop for interpreting joystick input -->
    <include file="$(find arbie_webgui)/launch/webgui.launch"/>
    <include file="$(find arbie_teleop)/launch/teleop.launch"/>

    <!-- Start arm control -->
    <include file="$(find arbie_manipulation)/launch/manipulation.launch"/>
</launch>
