<launch>

    <arg name="fake" default="false"/>

    <!-- Placeholder for perception stack. Outputs base transform of robot -->
    <group if="$(arg fake)">
        <node
            name="localisation_placeholder"
            pkg="arbie_slam"
            type="localisation_placeholder"
        />
    </group>

    <group if="$(eval arg('fake') == 0)">
        <include file="$(find arbie_slam)/launch/slam.launch"/>
    </group>

</launch>
