<launch>
    <param
        name="robot_description"
        command="cat $(find arbie_description)/model/arbie.urdf"
    />
    <!-- Just using urdf at the moment
    <param
        name="robot_description_sdf"
        command="cat $(find arbie_description)/model/arbie.sdf"
    /> -->
    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description -urdf -x 0 -y 0 -z 0 -model arbie -b -gazebo_namespace gzserver"
    />
</launch>
