<launch>
    <param
        name="robot_description"
        command="cat $(find arbie_description)/model/arbie.urdf"
    />
    <rosparam
        file="$(find arbie_debug)/config/arm_controllers.yaml"
        command="load"
    />
    <node
        name="hardware"
        pkg="arbie_hardware"
        type="hardware"
        output="screen"
    />
    <node
        name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        args="arm_trajectory_controller gripper_trajectory_controller"
    />

    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
    />
    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find arbie_debug)/config/view_model.rviz"
    />
    <include file="$(find arbie_moveit_config)/launch/move_group.launch"/>
</launch>
