<launch>
  <rosparam command="load" file="$(find fusion2urdf)/launch/Simple_controller.yaml"/>
  <node args="Rigid1_position_controller Rigid2_position_controller Rev3_position_controller Rev4_position_controller Rigid5_position_controller Rigid6_position_controller Rev7_position_controller Rev8_position_controller Rev9_position_controller joint_state_controller" name="controller_spawner" ns="Simple" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
  <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
    <remap from="/joint_states" to="/Simple/joint_states"/>
  </node>
</launch>
