.viewer{
    display: inline-block;
    margin-left: 10px;
    background-color: black;
}

.viewer_header{
    font-size: 20px;
    font-weight: bold;
    background-color: #BBBBBB;
    padding: 10px;
    text-align: center;
}