<launch>
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args" value="--delete_db_n_start --Optimizer/GravitySigma 0.3"/>
        <arg name="odom_topic" value="/t265/odom/sample"/>
        <arg name="frame_id" value="t265_pose_frame"/>
        <arg name="rgbd_sync" value="true"/>
        <arg name="depth_topic" value="/d400/depth/image_raw"/>
        <arg name="rgb_topic" value="/d400/color/image_raw"/>
        <arg name="camera_info_topic" value="/d400/color/camera_info"/>
        <arg name="approx_rgbd_sync" value="false"/>
        <arg name="visual_odometry" value="true"/>
    </include>
</launch>
