<launch>
    <arg name="fake" default="false"/>

    <group if="$(arg fake)">
        <node
            name="localisation_placeholder"
            pkg="arbie_slam"
            type="localisation_placeholder"
        />
    </group>

    <group if="$(eval arg('fake') == 0)">
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args"
            value="--delete_db_on_start --Optimizer/GravitySigma 0.3"/>
        <arg name="depth_topic" value="/D435i/depth/image_raw"/>
        <arg name="rgb_topic" value="/D435i/color/image_raw"/>
        <arg name="camera_info_topic" value="/D435i/color/camera_info"/>
        <arg name="approx_sync" value="true"/>
        <arg name="wait_imu_to_init" value="true"/>
        <arg name="imu_topic" value="/D435i/imu"/>
        <arg name="frame_id" value="D435i_link"/>
        <arg name="visual_odometry" value="false"/>
        <arg name="odom_topic" value="/diff_drive_controller/odom"/>
    </include>
    </group>

</launch>
