#control_buttons {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#control_buttons > div {
position: relative;
width: 33.33%;
height: 33.33%;
border: 1px solid rgba(0, 0, 0, 0.1);
overflow: hidden;
opacity: 0.6;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {

    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {

    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
#speech_in {
    position: fixed;
    left: 100px;
    top: 30px;
    opacity: 1;
}
  
#speech_out {
  position: fixed;
  left: 100px;
  top: 100px;
  opacity: 1;
}