<launch>
  <node name="odrive_flipper" pkg="odrive_ros" type="main.py" output="screen">
    <param name="serial_no" value="336631563536" type="str"/>
  </node>
  <node name="odrive_drive" pkg="odrive_ros" type="main.py" output="screen">
    <param name="serial_no" value="209137933548" type="str"/>
  </node>
  <node name="webserver" pkg="roswww" type="webserver.py"/>
  <node name="rosbridge" pkg="rosbridge_server" type="rosbridge_websocket"/>
  <node name="controller_mapper" pkg="controller_mapper" type="main.py" output="screen"/>
</launch>
