<launch>
  <node name="odrive_flipper" pkg="odrive_ros" type="main.py" output="screen" respawn="true">
    <param name="serial_no" value="336631563536" type="str"/>
  </node>
  <node name="odrive_drive" pkg="odrive_ros" type="main.py" output="screen" respawn="true">
    <param name="serial_no" value="209137933548" type="str"/>
  </node>
  <node name="arm" pkg="rosserial_python" type="serial_node.py" respawn="true">
    <param name="~port" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_5451780-if00" type="str"/>
  </node>
  <node name="power_board" pkg="rosserial_python" type="serial_node.py" respawn="true">
    <param name="~port" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_6260580-if00" type="str"/>
  </node>
  <node name="webserver" pkg="roswww" type="webserver.py" respawn="true"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <include file="$(find state_publisher)/launch/state_publisher.launch"/>
  <include file="$(find robot_config)/launch/planning_context.launch"/>
  <node name="inverse_kinematics" pkg="inverse_kinematics" type="inverse_kinematics" output="screen" respawn="true"/>

  <node name="controller_mapper" pkg="controller_mapper" type="main.py" output="screen" respawn="true"/>
</launch>
